.small-button {
  padding: 7px 10px !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  background-color: #0c0c0b !important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
}

.small-button:hover {
  background-color: #bd8f1a !important; 
}

.table-generos th,
.table-generos td {
  font-size: 12px;
  padding: 6px 8px;
}
