

.small-button {
  padding: 7px 10px !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  background-color: #0c0c0b !important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
}

.small-button:hover {
  background-color: #bd8f1a !important; 
}

.table-generos th {
  font-size: 12px; /* o el tamaño que desees */
  padding: 4px 6px; /* opcional: reduce el espaciado */
  white-space: nowrap; /* evita saltos de línea */
  text-align: center; /* opcional: centra el texto */
}
